.setting{
    display: flex;
}
.swrapper{
    flex: 9;
    padding: 20px;

}
.settingtitle{
    display: flex;
    border: none;
    align-items: center;
    justify-content: space-between;
}
.supdatetitle{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
    cursor: pointer;

}
.sdeletetitle{
color: red;
font-size: 12px;
cursor: pointer;
}
.settingform{
    display: flex;
    flex-direction: column;
}
.settingprofile{
    display: flex;
    align-items: 10px 0;
    margin: 10px 0;

}
.settingprofile img{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    object-fit: cover;
}
.sppicicon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;

}
.settingform label{
    font-size: 20px;

margin-top: 20px;
}
.settingform input{
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;

}
.settingsubmit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    cursor: pointer;
}